@import url(./root.css);
@import url(./var.css);
@import url(./components/pickAlert.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-transform: none;
  text-decoration: none;
}
