@import url(./root.css);
@import url(./var.css);
@import url(./components/pickAlert.css);
@import url(./components/pickAvatar.css);
@import url(./components/pickBreadcrumb.css);
@import url(./components/pickButton.css);
@import url(./components/pickCard.css);
@import url(./components/pickCheckBox.css);
@import url(./components/pickChip.css);
@import url(./components/pickChips.css);
@import url(./components/pickIcon.css);
@import url(./components/pickCollapse.css);
@import url(./components/pickDialog.css);
@import url(./components/pickDivider.css);
@import url(./components/pickImage.css);
@import url(./components/pickInput.css);
@import url(./components/pickInputNumber.css);
@import url(./components/pickList.css);
@import url(./components/pickLoading.css);
@import url(./components/pickNavbar.css);
@import url(./components/pickSelect.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-transform: none;
  text-decoration: none;
}
