.con-pick-checkbox {
  position: relative;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px
}

.con-pick-checkbox.pick-checkbox-small .pick-checkbox {
  width: 15px;
  height: 15px
}

.con-pick-checkbox.pick-checkbox-small .pick-checkbox .pick-icon {
  font-size: .7rem
}

.con-pick-checkbox.pick-checkbox-large .pick-checkbox {
  width: 24px;
  height: 24px
}

.pick-checkbox--input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 200;
  cursor: pointer;
  background: #55d775
}

.pick-checkbox--input:disabled {
  cursor: default;
  pointer-events: none
}

.pick-checkbox--input:disabled+.pick-checkbox {
  opacity: .5;
  cursor: default;
  pointer-events: none
}

.pick-checkbox--input:disabled+.pick-checkbox .pick-checkbox--check {
  cursor: default;
  pointer-events: none
}

.pick-checkbox--input:active:checked+.pick-checkbox .pick-checkbox--check {
  -webkit-transform: translate(3px);
  transform: translate(3px)
}

.pick-checkbox--input:active:checked+.pick-checkbox .pick-icon {
  -webkit-transform: translate(6px);
  transform: translate(6px)
}

.pick-checkbox--input:checked+.pick-checkbox {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg)
}

.pick-checkbox--input:checked+.pick-checkbox .pick-checkbox--check {
  -webkit-transform: translate(0);
  transform: translate(0)
}

.pick-checkbox--input:checked+.pick-checkbox .pick-checkbox--icon {
  opacity: 1;
  -webkit-transform: translate(0);
  transform: translate(0);
  color: #fff;
  display: -ms-flexbox;
  display: flex
}

.pick-checkbox,.pick-checkbox--input:checked+.pick-checkbox .pick-checkbox--icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.pick-checkbox {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.pick-checkbox--check {
  -webkit-transform: translate(100%);
  transform: translate(100%);
  -webkit-transform-origin: right;
  transform-origin: right;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  z-index: 10
}

.pick-checkbox--icon {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 100;
  font-size: 1.125em;
  opacity: 0;
  -webkit-transform: translate(30px);
  transform: translate(30px);
  -webkit-transform-origin: center;
  transform-origin: center
}

.pick-checkbox-primary .pick-checkbox {
  border: 2px solid #b4b4b4
}

.pick-checkbox-primary input:checked+.pick-checkbox {
  border: 2px solid rgba(var(--pick-primary),1)!important;
  background: rgba(var(--pick-primary),1)
}

.pick-checkbox-secondary .pick-checkbox {
  border: 2px solid #b4b4b4
}

.pick-checkbox-secondary input:checked+.pick-checkbox {
  border: 2px solid rgba(var(--pick-secondary),1)!important;
  background: rgba(var(--pick-secondary),1)
}

.pick-checkbox-danger .pick-checkbox {
  border: 2px solid #b4b4b4
}

.pick-checkbox-danger input:checked+.pick-checkbox {
  border: 2px solid rgba(var(--pick-danger),1)!important;
  background: rgba(var(--pick-danger),1)
}

.pick-checkbox-success .pick-checkbox {
  border: 2px solid #b4b4b4
}

.pick-checkbox-success input:checked+.pick-checkbox {
  border: 2px solid rgba(var(--pick-success),1)!important;
  background: rgba(var(--pick-success),1)
}

.pick-checkbox-warning .pick-checkbox {
  border: 2px solid #b4b4b4
}

.pick-checkbox-warning input:checked+.pick-checkbox {
  border: 2px solid rgba(var(--pick-warning),1)!important;
  background: rgba(var(--pick-warning),1)
}

.pick-checkbox-dark .pick-checkbox {
  border: 2px solid #b4b4b4
}

.pick-checkbox-dark input:checked+.pick-checkbox {
  border: 2px solid rgba(var(--pick-dark),1)!important;
  background: rgba(var(--pick-dark),1)
}

.pick-checkbox-light .pick-checkbox {
  border: 2px solid #b4b4b4
}

.pick-checkbox-light input:checked+.pick-checkbox {
  border: 2px solid rgba(var(--pick-light),1)!important;
  background: rgba(var(--pick-light),1)
}
