.pick-button {
  transition: all 0.2s ease;
  padding: 10px;
  border: 0px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  color: #fff;
  box-sizing: border-box;
  background: transparent;
}
.pick-button.pick-radius {
  border-radius: 50%;
}
.pick-button.large {
  padding: 12px;
  font-size: 1em;
}
.pick-button.small {
  padding: 7px;
  font-size: 0.7em;
}
.pick-button:disabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.pick-button--icon {
  z-index: 100;
  display: block;
  position: relative;
  font-size: 1.125em;
  transition: all 0.2s ease;
}
.pick-button--background {
  border-radius: 50%;
  width: 10px;
  position: absolute;
  height: 10px;
  z-index: 0;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 60px 0px rgba(255,255,255,0.5);
}
.pick-button--text {
  position: relative;
  color: inherit;
  display: inline-block;
  transition: all .25s ease;
}
.pick-button-border {
  padding: 9px;
}
.pick-button-border.isActive .pick-button--text,
.pick-button-flat.isActive .pick-button--text,
.pick-button-border.isActive .pick-button--icon,
.pick-button-flat.isActive .pick-button--icon {
  color: #fff !important;
}
.pick-button-filled:hover {
  box-shadow: 0px 9px 28px -9px;
}
.pick-button-line {
  padding: 9px 10px;
  border-radius: 0px;
  overflow: visible;
  border-style: solid;
}
.pick-button-line .pick-button-linex {
  transition: all 0.2s ease;
  width: 0%;
  position: absolute;
  left: 0px;
  bottom: -2px;
  height: 2px;
}
.pick-button-line:hover .pick-button--text,
.pick-button-line:hover .pick-button--icon {
  transform: translate(0, 2px);
}
.pick-button-line:hover .pick-button-linex {
  width: 100% !important;
}
.pick-button-gradient:hover {
  transform: translate(0, -2px);
  box-shadow: 0px 8px 25px -8px #aaa;
}
.pick-button-gradient:active {
  transform: translate(0, 0px);
  box-shadow: 0px 8px 0px -8px #aaa;
}
.pick-button-relief {
  padding: 10px;
}
.pick-button-relief:active {
  transform: translate(0, 3px);
  box-shadow: none !important;
}
.includeIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.includeIconOnly {
  width: 38px !important;
  height: 38px !important;
}
.includeIconOnly.large {
  width: 44px !important;
  height: 44px !important;
  font-size: 0.7em;
}
.includeIconOnly.small {
  width: 28px !important;
  height: 28px !important;
}
.includeIconOnly.small .pick-icon {
  font-size: 0.85rem;
}

.pick-button-primary.pick-button-filled {
  background: rgba(var(--pick-primary)) !important;
}
.pick-button-primary.pick-button-filled:hover {
  box-shadow: 0px 8px 25px -8px rgba(var(--pick-primary));
}
.pick-button-primary.pick-button-border,
.pick-button-primary.pick-button-flat {
  border: 1px solid rgba(var(--pick-primary));
  background: transparent !important;
  color: rgba(var(--pick-primary));
}
.pick-button-primary.pick-button-border .pick-button--text.isActive,
.pick-button-primary.pick-button-flat .pick-button--text.isActive {
  color: #fff !important;
}
.pick-button-primary.pick-button-border:hover,
.pick-button-primary.pick-button-flat:hover {
  background: rgba(var(--pick-primary),0.08) !important;
}
.pick-button-primary.pick-button-border .pick-button-backgroundx,
.pick-button-primary.pick-button-flat .pick-button-backgroundx {
  background: rgba(var(--pick-primary));
  box-shadow: inset 0px 0px 60px 0px rgba(var(--pick-primary));
}
.pick-button-primary.pick-button-flat {
  border: none !important;
}
.pick-button-primary.pick-button-line {
  color: rgba(var(--pick-primary));
  border-color: rgba(var(--pick-primary),0.2);
}
.pick-button-primary.pick-button-line .pick-button-linex {
  background: rgba(var(--pick-primary));
}
.pick-button-primary.pick-button-gradient {
  background: #640064;
  background-image: linear-gradient(30deg, rgba(var(--pick-primary),1) 0%, rgba(var(--pick-primary),0.5) 100%) !important;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.3);
}
.pick-button-primary.pick-button-relief {
  background: rgba(var(--pick-primary),1);
  box-shadow: 0 -3px 0 0 rgba(0,0,0,0.2) inset;
}
.pick-button-secondary.pick-button-filled {
  background: rgba(var(--pick-secondary)) !important;
}
.pick-button-secondary.pick-button-filled:hover {
  box-shadow: 0px 8px 25px -8px rgba(var(--pick-secondary));
}
.pick-button-secondary.pick-button-border,
.pick-button-secondary.pick-button-flat {
  border: 1px solid rgba(var(--pick-secondary));
  background: transparent !important;
  color: rgba(var(--pick-secondary));
}
.pick-button-secondary.pick-button-border .pick-button--text.isActive,
.pick-button-secondary.pick-button-flat .pick-button--text.isActive {
  color: #fff !important;
}
.pick-button-secondary.pick-button-border:hover,
.pick-button-secondary.pick-button-flat:hover {
  background: rgba(var(--pick-secondary),0.08) !important;
}
.pick-button-secondary.pick-button-border .pick-button-backgroundx,
.pick-button-secondary.pick-button-flat .pick-button-backgroundx {
  background: rgba(var(--pick-secondary));
  box-shadow: inset 0px 0px 60px 0px rgba(var(--pick-secondary));
}
.pick-button-secondary.pick-button-flat {
  border: none !important;
}
.pick-button-secondary.pick-button-line {
  color: rgba(var(--pick-secondary));
  border-color: rgba(var(--pick-secondary),0.2);
}
.pick-button-secondary.pick-button-line .pick-button-linex {
  background: rgba(var(--pick-secondary));
}
.pick-button-secondary.pick-button-gradient {
  background: #640064;
  background-image: linear-gradient(30deg, rgba(var(--pick-secondary),1) 0%, rgba(var(--pick-secondary),0.5) 100%) !important;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.3);
}
.pick-button-secondary.pick-button-relief {
  background: rgba(var(--pick-secondary),1);
  box-shadow: 0 -3px 0 0 rgba(0,0,0,0.2) inset;
}
.pick-button-danger.pick-button-filled {
  background: rgba(var(--pick-danger)) !important;
}
.pick-button-danger.pick-button-filled:hover {
  box-shadow: 0px 8px 25px -8px rgba(var(--pick-danger));
}
.pick-button-danger.pick-button-border,
.pick-button-danger.pick-button-flat {
  border: 1px solid rgba(var(--pick-danger));
  background: transparent !important;
  color: rgba(var(--pick-danger));
}
.pick-button-danger.pick-button-border .pick-button--text.isActive,
.pick-button-danger.pick-button-flat .pick-button--text.isActive {
  color: #fff !important;
}
.pick-button-danger.pick-button-border:hover,
.pick-button-danger.pick-button-flat:hover {
  background: rgba(var(--pick-danger),0.08) !important;
}
.pick-button-danger.pick-button-border .pick-button-backgroundx,
.pick-button-danger.pick-button-flat .pick-button-backgroundx {
  background: rgba(var(--pick-danger));
  box-shadow: inset 0px 0px 60px 0px rgba(var(--pick-danger));
}
.pick-button-danger.pick-button-flat {
  border: none !important;
}
.pick-button-danger.pick-button-line {
  color: rgba(var(--pick-danger));
  border-color: rgba(var(--pick-danger),0.2);
}
.pick-button-danger.pick-button-line .pick-button-linex {
  background: rgba(var(--pick-danger));
}
.pick-button-danger.pick-button-gradient {
  background: #640064;
  background-image: linear-gradient(30deg, rgba(var(--pick-danger),1) 0%, rgba(var(--pick-danger),0.5) 100%) !important;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.3);
}
.pick-button-danger.pick-button-relief {
  background: rgba(var(--pick-danger),1);
  box-shadow: 0 -3px 0 0 rgba(0,0,0,0.2) inset;
}
.pick-button-success.pick-button-filled {
  background: rgba(var(--pick-success)) !important;
}
.pick-button-success.pick-button-filled:hover {
  box-shadow: 0px 8px 25px -8px rgba(var(--pick-success));
}
.pick-button-success.pick-button-border,
.pick-button-success.pick-button-flat {
  border: 1px solid rgba(var(--pick-success));
  background: transparent !important;
  color: rgba(var(--pick-success));
}
.pick-button-success.pick-button-border .pick-button--text.isActive,
.pick-button-success.pick-button-flat .pick-button--text.isActive {
  color: #fff !important;
}
.pick-button-success.pick-button-border:hover,
.pick-button-success.pick-button-flat:hover {
  background: rgba(var(--pick-success),0.08) !important;
}
.pick-button-success.pick-button-border .pick-button-backgroundx,
.pick-button-success.pick-button-flat .pick-button-backgroundx {
  background: rgba(var(--pick-success));
  box-shadow: inset 0px 0px 60px 0px rgba(var(--pick-success));
}
.pick-button-success.pick-button-flat {
  border: none !important;
}
.pick-button-success.pick-button-line {
  color: rgba(var(--pick-success));
  border-color: rgba(var(--pick-success),0.2);
}
.pick-button-success.pick-button-line .pick-button-linex {
  background: rgba(var(--pick-success));
}
.pick-button-success.pick-button-gradient {
  background: #0064fa;
  background-image: linear-gradient(30deg, rgba(var(--pick-success),1) 0%, rgba(var(--pick-success),0.6) 100%) !important;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.3);
}
.pick-button-success.pick-button-relief {
  background: rgba(var(--pick-success),1);
  box-shadow: 0 -3px 0 0 rgba(0,0,0,0.2) inset;
}
.pick-button-warning.pick-button-filled {
  background: rgba(var(--pick-warning)) !important;
}
.pick-button-warning.pick-button-filled:hover {
  box-shadow: 0px 8px 25px -8px rgba(var(--pick-warning));
}
.pick-button-warning.pick-button-border,
.pick-button-warning.pick-button-flat {
  border: 1px solid rgba(var(--pick-warning));
  background: transparent !important;
  color: rgba(var(--pick-warning));
}
.pick-button-warning.pick-button-border .pick-button--text.isActive,
.pick-button-warning.pick-button-flat .pick-button--text.isActive {
  color: #fff !important;
}
.pick-button-warning.pick-button-border:hover,
.pick-button-warning.pick-button-flat:hover {
  background: rgba(var(--pick-warning),0.08) !important;
}
.pick-button-warning.pick-button-border .pick-button-backgroundx,
.pick-button-warning.pick-button-flat .pick-button-backgroundx {
  background: rgba(var(--pick-warning));
  box-shadow: inset 0px 0px 60px 0px rgba(var(--pick-warning));
}
.pick-button-warning.pick-button-flat {
  border: none !important;
}
.pick-button-warning.pick-button-line {
  color: rgba(var(--pick-warning));
  border-color: rgba(var(--pick-warning),0.2);
}
.pick-button-warning.pick-button-line .pick-button-linex {
  background: rgba(var(--pick-warning));
}
.pick-button-warning.pick-button-gradient {
  background: #fafafa;
  background-image: linear-gradient(30deg, rgba(var(--pick-warning),1) 0%, rgba(var(--pick-warning),0.5) 100%) !important;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.3);
}
.pick-button-warning.pick-button-relief {
  background: rgba(var(--pick-warning),1);
  box-shadow: 0 -3px 0 0 rgba(0,0,0,0.2) inset;
}
.pick-button-dark.pick-button-filled {
  background: rgba(var(--pick-dark)) !important;
}
.pick-button-dark.pick-button-filled:hover {
  box-shadow: 0px 8px 25px -8px rgba(var(--pick-dark));
}
.pick-button-dark.pick-button-border,
.pick-button-dark.pick-button-flat {
  border: 1px solid rgba(var(--pick-dark));
  background: transparent !important;
  color: rgba(var(--pick-dark));
}
.pick-button-dark.pick-button-border .pick-button--text.isActive,
.pick-button-dark.pick-button-flat .pick-button--text.isActive {
  color: #fff !important;
}
.pick-button-dark.pick-button-border:hover,
.pick-button-dark.pick-button-flat:hover {
  background: rgba(var(--pick-dark),0.08) !important;
}
.pick-button-dark.pick-button-border .pick-button-backgroundx,
.pick-button-dark.pick-button-flat .pick-button-backgroundx {
  background: rgba(var(--pick-dark));
  box-shadow: inset 0px 0px 60px 0px rgba(var(--pick-dark));
}
.pick-button-dark.pick-button-flat {
  border: none !important;
}
.pick-button-dark.pick-button-line {
  color: rgba(var(--pick-dark));
  border-color: rgba(var(--pick-dark),0.2);
}
.pick-button-dark.pick-button-line .pick-button-linex {
  background: rgba(var(--pick-dark));
}
.pick-button-dark.pick-button-gradient {
  background: #640064;
  background-image: linear-gradient(30deg, rgba(var(--pick-dark),1) 0%, rgba(var(--pick-dark),0.5) 100%) !important;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.3);
}
.pick-button-dark.pick-button-relief {
  background: rgba(var(--pick-dark),1);
  box-shadow: 0 -3px 0 0 rgba(255,255,255,0.1) inset;
}
.pick-button-light.pick-button-filled {
  background: rgba(var(--pick-light)) !important;
}
.pick-button-light.pick-button-filled:hover {
  box-shadow: 0px 8px 25px -8px rgba(var(--pick-light));
}
.pick-button-light.pick-button-border,
.pick-button-light.pick-button-flat {
  border: 1px solid rgba(var(--pick-light));
  background: transparent !important;
  color: rgba(var(--pick-light));
}
.pick-button-light.pick-button-border .pick-button--text.isActive,
.pick-button-light.pick-button-flat .pick-button--text.isActive {
  color: #fff !important;
}
.pick-button-light.pick-button-border:hover,
.pick-button-light.pick-button-flat:hover {
  background: rgba(var(--pick-light),0.08) !important;
}
.pick-button-light.pick-button-border .pick-button-backgroundx,
.pick-button-light.pick-button-flat .pick-button-backgroundx {
  background: rgba(var(--pick-light));
  box-shadow: inset 0px 0px 60px 0px rgba(var(--pick-light));
}
.pick-button-light.pick-button-flat {
  border: none !important;
}
.pick-button-light.pick-button-line {
  color: rgba(var(--pick-light));
  border-color: rgba(var(--pick-light),0.2);
}
.pick-button-light.pick-button-line .pick-button-linex {
  background: rgba(var(--pick-light));
}
.pick-button-light.pick-button-gradient {
  background: #640064;
  background-image: linear-gradient(30deg, rgba(var(--pick-light),1) 0%, rgba(var(--pick-light),0.5) 100%) !important;
  text-shadow: 1px 2px 4px rgba(0,0,0,0.3);
}
.pick-button-light.pick-button-relief {
  background: rgba(var(--pick-light),1);
  box-shadow: 0 -3px 0 0 rgba(0,0,0,0.2) inset;
}
