/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-accent: #fef8e2;
  --vp-c-brand: #e39500;
  --vp-c-brand-light: #f5a816;
  --vp-c-brand-lighter: #fadd60;
  --vp-c-brand-dark: #cca600;
  --vp-c-brand-darker: #29b6f6;
  --vp-c-text-code: #5d6f5d;
  --vp-code-block-bg: rgba(125,125,125,0.04);
  --vp-custom-block-tip-text: rgb(227, 149, 0);
  --vp-custom-block-tip-border: rgba(227, 149, 0, 0.5);
  --vp-custom-block-tip-bg: rgba(227, 149, 0, 0.1);
}

.dark {
  --vp-code-block-bg: rgba(0,0,0,0.2);
  --vp-c-text-code: #c0cec0;
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-text-dark-1);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-text-dark-1);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-text-dark-1);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

 :root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #f5a816 30%,
    #fadd60
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #f5a816 30%,
    #fadd60
  );
  --vp-home-hero-image-filter: blur(30px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}


/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}
